{% extends "_layouts/default.njk"%}
{% block body %}
  <div class="content" style="max-width: 80%;">
    <strong>SERVIÇOS AGENDADOS PARA HOJE</strong>
    <strong style="margin: 0px">{{ today }}</strong>
    <p>{{ week }}</p>
    <div class="provider">
      <div>
        <img src="/files/{{ user.avatar }}" />
        <strong>{{ user.name }}</strong>
      </div>
    </div>
    {# {% if appointments.user_id === true %} #}
      <ul class="providers">
      {% if appointments %}
        {% for appointments in appointments %}
          <li class="appointments">
            <div>
              <p>{{ appointments.user.name }}</p>
            </div>
          </li>
        {% endfor %}
      {% else %}
              <strong>Sem agendamento para hoje</strong>
      {% endif %}
      </ul>
  <a class="logout" href="/app/logout">Sair</a>
  </div>
{% endblock %}
