<strong>Email de Recuperação de Senha</strong>
  <p>Foi enviado uma solicitação de recuperação de senha para o email ({{ email }})</p>

  <p>Realize o processo de recuperação de senha pelo token: {{ token }} ou por meio do link abaixo:

  <p><a href="{{ link }}">Recuperar minha senha</a></p>

  <p>Fica atento caso esta solicitação não partil de você. Aconselho que altere sua senha por segurança</p>

  <strong>Solicitação realizada em {{ data }}.
