{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="POST" >

      <img src="/images/logo.svg" height="42"/>

      {# Mensagem de erro #}
      {% include "_partials/flash.njk" %}

      <input type="email" name="email" placeholder="Seu e-mail" required />
      <input type="password" name="password" placeholder="Senha secreta" required/>

      <button type="submit">Acessar</button>

      <a href="/signup">Criar conta grátis</a>
  </form>
{% endblock %}
